* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, footer {
    background-color: #1F2937;
}

header {
    min-height: 300px;
}

.content {
    flex: 1;
}

footer {
    min-height: 100px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;   
    padding: 16px 80px 0;             
    margin-bottom: 32px;
}

.nav-header {
    display: flex;
    gap: 16px;
}

.nav-header > a {
    color: #e5e7eb;
    font-size: 18px;
}

.header > a {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 64px;
    gap: 24px;
}

.left-hero {
    max-width: 450px;
}

.left-hero > h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.left-hero > p {
    color: #e5e7eb;
    font-size: 18px;
}

.left-hero > button {
    background-color: #3882f6;
    padding: 8px 32px;
    margin-top: 8px;
    border: none;
    border-radius: 8px;
    color: #e5e7eb;
    font-size: 18px;
}

.right-hero {
    max-width: 450px;
    width: 100%;
}

.right-hero > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}

.ran-info {
    background-color: white;
    text-align: center;
    min-height: 400px;
}

.ran-info > h2 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.ran-container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
    gap: 32px;
    margin-bottom: 48px;
}

.info > img {
    max-width: 150px;
    width: 100%;
    max-height: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}

.text-info {
    max-width: 150px;
}

.quote {
    background-color: #e5e7eb;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    max-width: 800px;
}
